/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */

body {
  background-color: #e2e2e2;
  font-family: 'Roboto', sans-serif;
}

/* ------------------- CABEÇALHO ------------------- */
.header__container {
  background-color: white;
  display: flex;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  padding: 30px 220px;
}

.header__title {
  color: #3b5bdb;
  font-size: 1.5em;
  font-weight: 600;
  margin: 0;
}

.header__input--search {
  margin-left: auto;
}

.input__box {
  background-color: #ebebeb;
  border-radius: 5px;
  border-style: none;
  font-size: 1em;

  width: 500px;
  height: 56px;
  padding: 16px;
}

/* ------------------- FORMULÁRIO ------------------- */
.form__container {
  background-color: white;
  border-radius: 10px;
  width: 60%;

  padding: 48px;
  margin: 24px auto;
}

h2 {
  font-size: 1.4em;
}

.form__input-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  margin: 48px auto;
}

#input_title {
  width: 60%;
  height: 16px;
  padding: 20px;
}

.form__input--priority {
  color: rgba(0, 0, 0, 0.6);
  width: 34%;
}

.form__button--add-task {
  background-color: #3b5bdb;
  border-radius: 6px;
  border-style: none;
  color: white;
  font-size: 1em;
  
  padding: 24px;
  width: 100%;
}

.form__button--add-task:active {
  background-color: rgba(59, 91, 219, 0.4);
  color: white;
  outline: 2px solid #3b5bdb;
}

/* ------------------- LISTAGEM DE TASKS ------------------- */

.tasks__container {
  background-color: white;
  border-radius: 8px;
  width: 60%;

  padding: 48px;
  margin: 24px auto;
}

.task-info__container {
  flex: 1;
  display: flex;
  align-items: center;
}

.task__item {
  background-color: #f1f3f5;
  border-radius: 6px;
  display: flex;
  align-items: center;

  padding: 24px;
  margin: 16px auto;
}

.task__button--remove-task {
  background-image: url('assets/trash-icon.svg');
  background-repeat: no-repeat;
  border: none;
  color: transparent;
  cursor: pointer;
  outline: none;

  width: 20px;
  height: 20px;
}

.task-type {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;

  margin-right: 16px;
}

.span-urgent {
  background-color: red;
}

.span-important {
  background-color: yellow;
}

.span-normal {
  background-color: green;
}
